<div class="container">
    <div class="card">
        <div class="card-body">
            <img src="../../../assets/Image/log.png" alt="" width="90px;" height="85px;">
            <h5 class="card-title mt-4 mb-4">Sign Up</h5>
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="firstName" class="form-control" />
                            <label class="form-label" for="firstName">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="lastName" class="form-control" />
                            <label class="form-label" for="lastName">Last name</label>
                        </div>
                    </div>
                </div>
    
                <!-- Email input -->
                <div class="form-outline mb-2">
                    <input type="email" id="email" class="form-control" />
                    <label class="form-label" for="email">Email address</label>
                </div>
    
                <!-- Password input -->
                <div class="form-outline mb-2">
                    <input type="password" id="password" class="form-control" />
                    <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-2">
                    <input type="password" id="confPassword" class="form-control" />
                    <label class="form-label" for="confPassword">Confirm Password</label>
                </div>
    
                <!-- Submit button -->
                <button type="submit" class="btn btn-success btn-block mb-3">Sign up</button>
    
                <div class="text-center">
                    <p>Already signed up? <a href="#!">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
