<div class="container">
    <div class="card">
        <div class="card-body">
            <img src="../../../assets/Image/log.png" alt="" width="90px;" height="85px;">
            <h5 class="card-title mt-4 mb-3">Sign Up</h5>
            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
                            <input mdbInput type="text" id="firstname" class="form-control">
                            <label for="firstname" class="" >Firstname</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                           
                            <input mdbInput type="text" id="lastname" class="form-control">
                            <label for="lastname" class="" >Lastname</label>
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="md-form mt-1">
                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="email" class="form-control">
                    <label for="email" class="" >Email</label>
                </div>
                <!-- Password input -->
                <div class="md-form mt-1">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="password" class="form-control">
                    <label for="password" class="" >Password</label>
                </div>
                <div class="md-form mt-1">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="password" class="form-control">
                    <label for="password" class="" >Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" mdbBtn color="success" class="btn-block mb-3" mdbWavesEffect>Sign Up</button>
                <div class="text-center">
                    <p>Already signed up? <a href="#!">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>