<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top stylish-color-dark navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav waves-light" class="navCss" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <img id="myLogo" src="../../assets/Image/logo.png" alt="" >
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav" style="margin-left: 75%;" >
          <li class="nav-item " mdbWavesEffect>
            <a class="nav-link" routerLink="/about">About
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/sign-up" >Sign Up</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/sign-in">Sign In</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </header>
  
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask flex-center">
              <div class="text-center white-text wow fadeInUp">
                <div class="container">
                  <router-outlet></router-outlet> 
                </div>
              </div>
          </div>
      </div>
    </div>
    <app-footer></app-footer>
