
.title{
    text-align: left;
    margin: 0 auto;
    width: fit-content;
    padding-left: 1%;
    border-left: 10px solid lightgreen;
    width: max-content;
}

h1{
    color: gold;
    text-shadow: 5px 5px 5px black;
    font-size: 500%;
}

p{
   font-size: 18px;
}
