.card {
    top: 3rem;
    width: 25rem;
    height: auto;
}

.card .card-body {
    color: #747373;
    font-size: .9rem;
    font-weight: 400;
}
.card img{
    width: 50%;
    margin: 2% auto;
    box-shadow: 8px 5px 15px black;
}